# latex build files
*.aux
*.log
*.toc
*.bbl
*.blg
*.lof
*.out
*.synctex.gz
*.nav
*.snm

# latex pdf output
tex/*/Team_39_*.pdf

# temporary files
*.swp

# Microsoft Crap 
# C:\ ???

# Videos
vid/
*.avi
*.mp4
