# latex build files
*.aux
*.log
*.toc
*.bbl
*.blg
*.lof
*.out
*.synctex.gz

# latex pdf output
*doku.pdf
*Team_39_Produktanforderungen.pdf
*Team_39_Technologierecherche.pdf
*Team_39_*.pdf

# temporary files
*.swp
